{% extends 'base.html' %}
{% load i18n parler_tags %}

{% block title %}{% translate 'Contact' %}{% endblock title %}


{% block body %}
    {% include 'nav.html' with current="contact" %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title text-center">
            <h2>{% translate "Contact" %}</h2>
            <p>{% translate "If you have any suggestions, feel free to contact us." %}</p>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>{% translate "Our Address" %}</h3>
                <p>{{ info.address }}</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>{% translate "Email Us" %}</h3>
                <p>{{ info.email }}</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>{% translate 'Call Us' %}</h3>
                <p>{{ info.phone }}</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up">
  
            <div class="col-lg-6 ">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5992.692276830378!2d69.303521!3d41.323086!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDE5JzIzLjEiTiA2OcKwMTgnMTIuNyJF!5e0!3m2!1sen!2s!4v1620286903921!5m2!1sen!2s" allowfullscreen="" loading="lazy" style="border:0; width: 100%; height: 384px;"></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="" method="post" role="form" class="email-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{form.name}}
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{form.phone}}
                  </div>
                </div>
                <div class="form-group mt-3">
                    {{form.subject}}
                </div>
                <div class="form-group mt-3">
                    {{form.message}}
                </div>
                <div class="my-3">
                  {% if form.errors %}
                    <div class="error">
                      {% for field in form %}
                      {{field.errors}}
                      {% endfor %}
                    </div>
                  {% elif var %}
                    <div class="sent">{% translate 'Your message has been sent. Thank you!' %}</div>
                  {% endif %}
                </div>
                <div class="text-center"><button type="submit">{% translate 'Send Message' %}</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
{% endblock body %}