{% extends 'base.html' %}
{% load static %}
{% load i18n parler_tags %}

{% block title %}Home page{% endblock title %}

{% block body %}
	{% include 'nav.html' with current="home" %}
	
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
	<div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
		<h1>BOUTIQUE&bull;ELPA</h1>
		<h2>{% translate 'best choise for classic clothes' %}</h2>
	</div>
</section><!-- End Hero -->


<!-- ======= Chefs Section ======= -->
<section id="types" class="types">
<div class="container-fluid my-0" data-aos="fade-up">
	<div class="row">

		{% for category in categories %}
			<div class="col-md-3 col-6 m-0 p-0">
				<a href="{% url 'some_products' category.id %}">
				<div class="member" data-aos="zoom-in" data-aos-delay="100">
					<img class="img-fluid" src="{{category.image.url}}">
					<div class="member-info">
						<div class="member-info-content">
						<h4 style="color:#fff;">{{category.name}}</h4>
						</div>
					</div>
				</div>
				</a>
			</div>
		{% endfor %}

	</div>

</div>
</section><!-- End Chefs Section -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
	<div class="container">

	  <div class="row">
		<div class="col-lg-5 py-4 content" data-aos="fade-right">
		  <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
		  <p class="fst-italic">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua.
		  </p>
		  <ul>
			<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
			<li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
		  </ul>
		  <p>
			Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
		  </p>
		</div>
		<div class="col-lg-7 py-4" data-aos="fade-left">
		  <img src="{% static 'img/home.jpg' %}" class="img-fluid" alt="">
	    </div>
	  </div>
	</div>
  </section><!-- End About Section -->


<!-- ======= Portfolio Section ======= -->
<section id="index-portfolio" class="portfolio">
<div class="container-fluid">

	<div class="row" data-aos="fade-up" data-aos-delay="150">
	{% for product in products %}
		
		<div class="col-lg-3 col-6 d-flex p-0" data-aos-delay="150" data-aos="fade-up">
            <div class="portfolio-card m-1">
              <a href="{% url 'product' product.id %}" class="link"> 
	            <div class="image-box">
	                <img src="{{product.image_set.first.image.url}}" class="img-top" alt="">
	                <img src="{{product.image_set.last.image.url}}"  class="img-hidden" alt="">
	                <div class="sale">
                        {% if product.collection %}
                          {{product.collection.name}}
                        {% elif product.is_top %}
                          top
                        {% elif product.is_new %}
                          new
                        {% endif %}
                    </div>
	            </div>
	              
	              <!--card body-->
	            <div class="body-wrapper">
	            	<p><span>{{product.name}}</span>: {{product.price}}&nbsp;UZS</p>
	            	{% for i, j in product.get_prices %}
	            	<strong>{{i}}</strong>: {{j}}&nbsp;UZS<br>
	            	{% endfor %}
				</div>

              </a>
            </div>
          </div>
        {% endfor %}
	</div>

</div>
</section><!-- End Portfolio Section -->

<section id="about-us" id="about-us" data-aos="fade-up" data-aos-delay="150">
	<div class="container-fluid">
		<div class="section-title text-center">
			<h2>{% translate 'our boutique' %}</h2>
			<p>{% translate 'look-up our market' %}</p>
		</div>

		<div class="row">
			<div class="col-12">
				<video class="video-fluid z-depth-1" id="hidden-small" autoplay loop controls muted>
					<source src="{% static 'shop_small.mp4' %}" type="video/mp4">
  					<p>{% translate 'your browser does not support this type of video' %}</p>
				</video>

				<video class="video-fluid z-depth-1" id="hidden-big" autoplay loop controls muted>
					<source src="{% static 'shop_big.mp4' %}" type="video/mp4">
  					<p>{% translate 'your browser does not support this type of video' %}</p>
				</video>
			</div>
		</div>
	</div>
</section>


<section class="news p-2" id="news">
	<div class="section-title text-center">
		<h2> {% translate 'Collections' %} </h2>
		<p>{% translate 'We have new collections in every season' %}</p>
	</div>

	<div class="container">
		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
		  <div class="carousel-inner">
		  	{% for event in collections %}
			  <a href="{% url 'collections' %}">
				<div class="carousel-item {% if event == collections.first %}active{% endif %}">
					<div class="w-100 collection-item" style="background-image: url('/media/{{event.image}}');"></div>
				</div>
			  </a>
			{% endfor %}
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">prev</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">next</span>
		  </button>
		</div>

	</div>
</section>


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery p-0">

	<div class="container-fluid p-0" data-aos="fade-up">
	<div class="section-title text-center">
		<h2>{% translate 'Gallery' %}</h2>
		<p>{% translate 'Some photos from our boutique' %}</p>
	</div>
	</div>

	<div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

	<div class="row no-gutters">

		{% for image in images %}
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="gallery-item">
					<a href="{{image.image.url}}" class="venobox" data-gall="gallery-item">
					<img src="{{image.image.url}}" alt="{{image.alt}}" class="img-fluid">
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

	</div>
</section><!-- End Gallery Section -->

{% endblock body %}
